<div class="container containerStyle">
  
  <div class="col-sm-12 col-md-12 col-lg-12">
    <!-- component which shows all the taks added by the user -->
    <app-todo-show></app-todo-show>  
  </div>

  <div class="col-sm-10 col-md-4 col-lg-4">
    <!-- component which the user uses to enter his tasks in the application -->
    <app-todo-input></app-todo-input>
  </div>
  
  <div style="margin-top:2.2%;" class="col-sm-12 col-md-12 col-lg-12">
    <!-- component describing the features of the app -->
    <app-notes></app-notes>
  </div>

</div>